<!doctype html>
<html ⚡>
    <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title><%= yield_content(:title) || current_page.data&.title %></title>
      <meta name="description" content="<%= yield_content(:description) || current_page.data&.description %>">
      <link rel="canonical" href="<%= yield_content(:canonical) || current_page.data&.canonical %>">
      <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
      <%= inline_amp_stylesheet('application') %>
      <%= partial 'partials/amp-boilerplate.html' %>
      <%= partial 'partials/amp-components' %>
    </head>
  <body>
    <%= partial 'partials/navigation' %>
    <%= yield %>
    <%= partial 'partials/footer' %>
    <% if current_page&.data&.amp&.serviceworker %>
      <amp-install-serviceworker src="/sw.js"
        data-iframe-src="<%= "#{config.host}/sw.html" %>"
        layout="nodisplay">
      </amp-install-serviceworker>
    <% end %>
  </body>
</html>
